body
{
 margin-left: auto;
 margin-right: auto;
 max-width: 60em;
 font-family:  Georgia, 'Times New Roman', Times, serif;
 line-height: 1.0 em;
 padding: 3em 1em;
 color:#394758;
}

code,
pre {
 background: #eee;
 border-bottom: 1px solid #d8dee9;
 color: #555;
}


code {
 padding: 2px 4px;
 vertical-align: text-bottom;
}


pre {
 padding: 1em;
 border-left: 2px solid #69c
}

header {
  background-color: #263d36;
  background-image: url("https://i.ibb.co/mzX8LyY/banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color:wheat;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: rgb(23, 69, 155);
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}